{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {{ shop_name }} | {{ flatpage.title }}
{% endblock title %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        </li>
        <li class="active">{{ flatpage.title }}</li>
    </ul>
{% endblock %}

{% block content_wrapper %}
    <article>{{ flatpage.content }}</article>
{% endblock %}
