{% load i18n %}

<form method="post" id="callback-form" class="form form-horizontal"
      data-success-title='{% trans "Your request has been received, soon you will be contacted by our manager"%}'
      action="{% url 'callback' %}">

    <div class="modal-body col-sm-12">
        {% for field in callback_form %}
            <div class="form-group {{field.label}}">
                <label class="col-sm-2 control-label">{{ field.label }}</label>
                <div class="col-sm-9">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="modal-footer">
        <button type="button" class="default-small-btn-danger" data-dismiss="modal">Close</button>
        <button type="button" id="callback-form-button" class="default-small-btn">Submit</button>
    </div>
    {% csrf_token %}
</form>