
{% load i18n %}
{% load static %}


<div class="footer">
	<div class="footer-grids">
		<div class="container">
			<div class="footer-grid contact-grid">
				<h4>{% trans 'Contact us' %}</h4>
				<ul class="list-inline">
					<li class="col-sm-3"><span class="c-icon2"></span><p>{{info.phone_first}}</p></li>
					<li class="col-sm-3"><span class="c-icon2"></span><p>{{info.phone_second}}</p></li>
					<li class="col-sm-3"><span class="c-icon1"></span><p>{{info.email}}</p></li>
					<li class="col-sm-3"><span class="c-icon"></span><p>{{info.address}}</p></li>
				</ul>
				<div class="news-letter">
				<h4>{% trans 'Kharkiv' %} {% now 'Y' %}. {% trans 'All rights reserved' %}</h4>

					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
</div>
