{% load i18n %}
{% load static %}
<div class="header">
				<div class="container">
				<!-- logo -->
				<div class="logo">
					<a href="{{ homepage_url }}"><img src="{% static 'images/logo.png' %}" title="baku" /></a>
				</div>
				<!-- logo -->
				<!-- cart-info -->
				<div class="cart-info">
					<ul>
						<li>
							<a href id="call" data-toggle="modal" data-target="#myModal">{% trans 'Get a callback' %}</a>

							<!-- Modal -->
							<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							  <div class="modal-dialog" role="document">
								<div class="modal-content">
								  <div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">{% trans 'Get a callback'%}</h4>
								  </div>
								  <div id="modal-form"></div>
								</div>
							  </div>
							</div>
						</li>
						{% if user.is_authenticated %}
						    <li>
							{% if num_unread_notifications > 0 %}
								{# If user has new notifications - we change account link to go to inbox #}
								<a href="{% url 'customer:notifications-inbox' %}">
									<i class="icon-user"></i>
									{% trans "Account" %}
									<span class="label label-important">{{ num_unread_notifications }}</span>
								</a>
							{% else %}
								<a href="{% url 'customer:summary' %}"><i class="icon-user"></i> {% trans "Account" %}</a>
							{% endif %}
                            </li>
						    <li><a id="logout_link" href="{% url 'customer:logout' %}"><i class="icon-signout"></i> {% trans "Logout" %}</a></li>
						    {% if user.is_staff or perms.partner.dashboard_access %}
								<li><a href="{% url 'dashboard:index' %}"><i class="icon-list-ul"></i> {% trans "Dashboard" %}</a></li>
							{% endif %}
						{% else %}
						    <li><a id="login_link" href="{% url 'customer:login' %}">{% trans "Login or register" %}</a></li>
						{% endif %}
						<li class="cartinfo" style="margin-top:0px; border-right: none">
							<a class="basket-icon" href="{% url 'basket:summary' %}" >
								<span> </span>{% if not basket.is_empty %}({{request.basket.all_lines.count}}){%endif%}
							</a>
						</li>
						<div class="clearfix"> </div>
					</ul>
				</div>
				<!-- /cart-info -->
			</div>
	</div>


