{% load i18n %}
{% load static %}
{% load thumbnail %}


    <div  id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
            {% for item in img_slider%}
            <li>
                {% thumbnail item.image "1286x441" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" title="{{item.order}}" />
                {% endthumbnail %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="clearfix"> </div>
