{% load currency_filters %}
{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}



<div class="sub-header">
			<div class="container">
				<!-- top-nav -->

				<div class="top-nav">
					<span class="menu"> </span>
					<ul>
						<li class="active"><a href="{{ homepage_url }}">{% trans 'Home' %}</a></li>
                        {% category_tree depth=2 as tree_categories %}
						{% for tree_category, info in tree_categories %}
						{% if info.has_children %}
						<li class="dropdown ">
							<a href="" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown">
                            {{ tree_category.name }}
                            <b class="caret"></b>
                            </a>
						  <ul class="dropdown-menu" data-navigation="dropdown-menu" aria-labelledby="dLabel">
							{%for child_category in tree_category.get_children%}
							  <li><a class="dropdown-el-decor" href="{{child_category.get_absolute_url}}">{{child_category.name}}</a></li>
							{%endfor%}
						  </ul>

						</li>
                        {% endif %}
						{% endfor %}
						{% for page in pages %}
						<li><a href="{{page.url}}">{{page.title}}</a></li>
						{% endfor %}
						<div class="clearfix"> </div>
					</ul>
				</div>
				<!-- top-nav -->
				<!-- script-for-nav -->

				<!-- script-for-nav -->
				<!-- search-form -->
				<div  class="search-form">
					<form method="get" action="{% url 'search:search' %}">
						{{ search_form.q }}
						<input type="submit" value="" />
					</form>
				</div>
				<div class="clearfix"> </div>
				<!-- /search-form -->
			</div>
		</div>