{% load i18n %}
{% load static %}

<div class="Welcome-note">
    <div class="Welcome-note-left">
        <div class="Welcome-note-left-pic">
            <img src="{% static 'images/pic1.png' %}" title="name" />
        </div>
        <div class="Welcome-note-left-pic-info">
            <p>Explore our New Arrivals in <span>Sterling Silver</span> and Exciting new colours in semi precious stone jewellery..</p>
        </div>
    </div>
    <div class="Welcome-note-right">
        <p>What is <span>new</span></p>
    </div>
    <div class="clearfix"> </div>
</div>


