{% load basket_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load static %}

{% purchase_info_for_product request product as session %}

{% if session.availability.is_available_to_buy %}
    {% basket_form request product 'single' as basket_form %}
    <form action="{% url 'basket:add' pk=product.pk %}" method="post">
        {% csrf_token %}
        {{ basket_form.as_p }}
        <button type="submit" class="default-btn" data-loading-text="{% trans 'Adding...' %}">{% if detail%}<span class="glyphicon glyphicon-shopping-cart"></span>{% endif %} {% trans 'Add to basket'%}</button>
    </form>
{% else %}
    <button type="submit" disabled class="default-btn" >{% if detail%}<span class="glyphicon glyphicon-shopping-cart"></span>{% endif %} {% trans 'Not Available'%}</button>
{% endif %}
