{% load i18n %}
{% load thumbnail %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}
{% load static %}


{% if basket.is_empty %}
    <div class="collections-head ">
        <div class="container results-head">
            <h2>
                <span>{% trans 'Your basket is empty, continue shopping....' %}</span>
            </h2>
        </div>
    </div>
{% else %}
    <div id="content_inner">
        <div class="container">
            <div class="page-header action"><h3>{% trans 'Basket' %}</h3></div>

            {% block messages %}
                {% include "partials/alert_messages.html" %}
            {% endblock messages %}

            {% if basket_warnings %}
                <h5>{% trans "Important messages about items in your basket" %}</h5>
                {% for warning in basket_warnings %}
                    <div class="alert">{{ warning }}</div>
                {% endfor %}
            {% endif %}

            {% if upsell_messages %}
                <div class="well">
                    <h3>{% trans "You could be missing out on offers!" %}</h3>
                    {% for upsell in upsell_messages %}
                        {% blocktrans with message=upsell.message url=upsell.offer.get_absolute_url offer_name=upsell.offer.name %}
                            <div class="warning">{{ message }} to qualify for
                                the
                                <a
                                        href="{{ url }}">{{ offer_name }}</a>
                                special offer
                            </div>
                        {% endblocktrans %}
                    {% endfor %}
                </div>
            {% endif %}

            {% block basket_form_headers %}
                <div class="basket-title hidden-xs">
                    <div class="row">
                        <p class="col-sm-5">{% trans "Items to buy now" %}</p>
                        <p class="col-sm-2">{% trans "Price" %}</p>
                        <p class="col-sm-2 align-right">{% trans "Quantity" %}</p>
                        <p class="col-sm-2 col-sm-offset-1 align-right">{% trans "Total" %}</p>
                    </div>
                </div>
            {% endblock %}

            {% block basket_form_main %}
                <form action="." method="post" class="basket_summary"
                      id="basket_formset">
                    {% csrf_token %}
                    {{ formset.management_form }}

                    {% for form in formset %}
                        {% with line=form.instance product=form.instance.product %}
                            {% purchase_info_for_line request line as session %}
                            <div class="basket-items">
                                <div class="row">
                                    <div>
                                        <a href="#"
                                           data-id="{{ forloop.counter0 }}"
                                           data-behaviours="remove"
                                           class="pull-right edit-remove-elem"
                                           style="padding-right: 20px;"><span
                                                class="glyphicon glyphicon-remove"></span></a>
                                        <div style="display:none">
                                            {{ form.DELETE }}
                                        </div>
                                        {% for field_errors in form.errors.values %}
                                            {% for error in field_errors %}
                                                <span class="error-block"><i
                                                        class="icon-exclamation-sign"></i> {{ error }}</span>
                                            {% endfor %}

                                        {% endfor %}
                                    </div>
                                    <div class="col-sm-2">
                                        {{ form.id }}
                                        {% with image=product.primary_image %}
                                            {% thumbnail image.original "100x100" upscale=False as thumb %}
                                                <a href="{{ product.get_absolute_url }}">
                                                    <img class="thumbnail"
                                                         src="{{ thumb.url }}"
                                                         alt="{{ product.get_title }}"/>
                                                </a>
                                            {% endthumbnail %}
                                        {% endwith %}
                                    </div>
                                    <div class='order-items'>
                                        <div class="col-sm-3">
                                            <a href="{{ product.get_absolute_url }}">{{ line.description }}</a>
                                        </div>
                                        <div class="col-sm-2">
                                            <p class="price_color align-right">
                                                {% if line.is_tax_known %}
                                                    {{ line.unit_price_incl_tax|currency:line.price_currency }}
                                                {% else %}
                                                    {{ line.unit_price_excl_tax|currency:line.price_currency }}
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="checkout-quantity">
                                                <div class="input-group  {% if form.errors %}error{% endif %}">
                                                    {% render_field form.quantity class+="form-control" %}
                                                    <span class="input-group-btn">
                                        <button class="btn btn-default"
                                                type="submit"
                                                data-loading-text="{% trans 'Updating...' %}">{% trans "Update" %}</button>
                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1 col-sm-offset-1">
                                            <p class="price_color align-right">
                                                {% if line.is_tax_known %}
                                                    {{ line.line_price_incl_tax|currency:line.price_currency }}
                                                {% else %}
                                                    {{ line.line_price_excl_tax|currency:line.price_currency }}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                </form>
                <div class="form-group col-sm-12 no-padding"
                     style="margin-top:10px;">
                    <div class="pull-right">
                        {% include 'basket/basket_totals.html' %}
                    </div>
                </div>
                <div class="form-group col-sm-12 no-padding">
                    <div class="pull-right">
                        <a href="{% url 'checkout:index' %}"
                           class="default-btn pull-right">{% trans "Proceed to checkout" %}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endif %}



