{% load i18n %}

<div class="navbar navbar-static-top navbar-inverse nav-checkout">
    <div class="container">
    <ul class="nav navbar-nav">
        {% spaceless %}
            <li class="step1 {% if step == 1 %}active{% else %}{% if step > 1 %}visited{% else %}disabled{% endif %}{% endif %} ">
                {%if step == 3%}
                <span class="navbar-text">
                    {% trans "1. Shipping address" %}
                </span>

                {% elif step == 2%}
                    <a href="{% url 'checkout:shipping-address' %}">{% trans "1. Shipping address" %}</a>

                {% else %}
                    <span class="navbar-text">
                            {%  trans "1. Shipping address" %}
                    </span>
                {% endif %}
            </li>

            <li class="step2 {% if step == 2 %}active{% else %}{% if step > 2 %}visited{% else %}disabled{% endif %}{% endif %} ">
                <span class="navbar-text">
                    {% trans "2. Preview"  %}
                </span>

            </li>

            <li class="step3 {% if step == 3 %}active{% else %}disabled{% endif %} ">
                <span class="navbar-text">
                    {% trans "3. Confirmation" %}
                </span>
            </li>
        {% endspaceless %}
    </ul><!-- /navbar-inner -->
    </div>
</div><!-- /navbar -->


