{% extends "checkout/checkout.html" %}

{% load i18n %}
{% load widget_tweaks %}


{% block content_wrapper  %}

    {% block checkout_nav %}
        {% include 'checkout/checkout_nav.html'%}
    {% endblock %}

    {%block messages%}
        {% include "partials/alert_messages.html" %}
    {%endblock messages%}

    {% block shipping_address %}
    {% endblock shipping_address %}

    {% block order_contents %}
    {% endblock order_contents %}
<div class="container">
    <div class="page-header">{% trans "Who are you?" %}</div>
        <div class="col-sm-8">
        <form action="." method="post" class="form-stacked well">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {% include "partials/form_field.html" with field=form.username %}

            <div class="form-group">
                <div class="controls">
                    <div class="radio">
                        {{ form.options.0 }}
                    </div>
                </div>
            </div>

            <div class="form-group {% if form.password.errors %}error{% endif %}">
                {{ form.options.errors }}
                <div class="controls">
                    <div class="radio">
                        {{ form.options.2 }}
                        <div class="form-inline">
                            {% render_field form.password class+="form-control" %}
                            <small><a href="{% url 'password-reset' %}" tabindex="-1">{% trans "Get a password reminder" %}</a></small>
                            {% for error in form.password.errors %}
                                <span class="error-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="controls">
                    <div class="radio">
                        {{ form.options.1 }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <button type="submit" class="default-btn" data-loading-text="{% trans 'Continuing...' %}">{% trans "Continue" %}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content_wrapper %}

{% block onbodyload %}
    {{ block.super }}
    oscar.checkout.gateway.init();
{% endblock %}
