{% load i18n %}
{% load purchase_info_tags %}
{% load thumbnail %}
{% load currency_filters %}



    <div class="basket-title">
    <div class="row">
        <p class="col-sm-6">{% trans "Items" %}</p>
        <p class="col-sm-2">{% trans "Price" %}</p>
        <p class="col-sm-2 align-right">{% trans "Quantity" %}</p>
        <p class="col-sm-2 align-right">{% trans "Total" %}</p>
    </div>
    </div>

        {% for line in basket.lines.all %}

    {% purchase_info_for_line request line as session %}
    <div class="basket-items">
        <div class="row">
            <div class="col-sm-2">
                <div class="image_container">
                    {% with image=line.product.primary_image %}
                        {% thumbnail image.original "100x100" upscale=False as thumb %}
                        <a href="{{ form.instance.product.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                        {% endthumbnail %}
                    {% endwith %}
                </div>
            </div>
            <div class='order-items'>
                <div class="col-sm-4">
                    <a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a>
                </div>
                <div class="col-sm-2">
                    <p class="price_color align-right">
                        {{ line.unit_price_excl_tax}}{{line.price_currency }}
                    </p>
                </div>
                <div class="col-sm-2 align-center">
                    {{ line.quantity }}
                </div>
                <div class="col-sm-2 align-right">
                    <p class="price_color">
                        {%if thank_you%}
                            {{ line.line_price_incl_tax}} {{order.currency}}
                        {%else%}
                            {{ line.line_price_incl_tax|currency:basket.currency }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
