{% extends "checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {{ shop_name }} | Checkout | Preview
{% endblock title %}

{% block content_wrapper %}

{% block checkout_nav %}
    {% include 'checkout/checkout_nav.html' with step=2 %}
{% endblock %}

{%block messages%}
	{% include "partials/alert_messages.html" %}
{%endblock messages%}

<div class="container">
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    <div class="page-header"><h3>{%trans "Preview"%}</h3></div>
        <div class="row shipping-payment">
        {% block shipping_address %}
            {% include 'checkout/shipping_info_content.html' with preview=True %}
        {% endblock %}

        {% block order_contents %}
        <div class="col-sm-8">
            {% include 'checkout/order_contents.html' %}
        </div>
        {% endblock order_contents %}
        <div class="form-group col-sm-12 ">
            <div class="pull-right">
            {% include 'basket/basket_totals.html' %}
            </div>
        </div>
        <div class="form-group col-sm-12 ">
            <form method="post" action="{% url 'checkout:preview' %}" id="place_order_form">
                {% csrf_token %}
                <input type="hidden" name="action" value="place_order" />
                <button id='place-order' type="submit" class="default-btn pull-right" data-loading-text="{% trans 'Submitting...' %}">{% trans "Place order" %}</button>
                <a href="{% url 'basket:summary' %}" class="default-btn pull-right" style="margin-right:2px">{% trans "Edit order" %} <span class="glyphicon glyphicon-pencil"></span></a>
            </form>
        </div>
    </div>
</div>
{% endblock %}