{% load i18n %}

<address>
    {%if shipping_address%}

    <h4><strong>{% trans "Contact information" %}</strong></h4>
        <p>{% trans 'Name'%}: {{shipping_address.first_name}} {{shipping_address.last_name}}</p>

    {% if shipping_address.phone_number %}
        <p>{% trans 'Phone' %}: {{shipping_address.phone_number}}</p>
    {% endif %}
    {% if shipping_address.shipping_method %}
        <h4><strong>{% trans "Shipping method" %}</strong></h4>
            <p>{{ shipping_address.get_shipping_method_display }}</p>
        {% if shipping_address.shipping_method == 'new_post' %}
            <p>{% trans 'City' %}: {{shipping_address.new_post_department.city.name}}</p>
            <p>{{shipping_address.new_post_department.description}}</p>
        {% endif %}
    {% endif %}

    {% if shipping_address.notes and not address_list %}
        <h4><strong>{% trans "Instructions" %}</strong></h4>
        <p>{{ shipping_address.notes|linebreaks }}</p>
    {% endif %}

    {%endif%}
</address>