{% load i18n %}
<div class="col-sm-4">
    <div class="well well-info">
        {% if shipping_address %}
            {%if preview%}
                <a href="{% url 'checkout:shipping-address' %}" class="pull-right edit-remove-elem"><span class="glyphicon glyphicon-pencil"></span></a>
            {%endif%}
            {% include 'checkout/self_user_info.html'%}
        {% endif %}
    </div>
</div>
