{% extends "checkout/checkout.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {{ shop_name }} | Checkout | Shipping address
{% endblock title %}

{% block content_wrapper %}

{% block checkout_nav %}
    {% include 'checkout/checkout_nav.html' with step=1 %}
{% endblock %}

{%block messages%}
    {% include "partials/alert_messages.html" %}
{%endblock messages%}

{% block order_contents %}{% endblock %}

{% block shipping_address %}
<div class="container">
    <div class="page-header action">
        <h3>{% trans "Where should we ship to?" %}</h3>
    </div>
    <div class="row">
        {% if user.is_authenticated and addresses %}
            <div class="choose-block col-sm-4">
                <p>{% trans "An address from your address book?" %}</p>
                <ul class="list-unstyled">
                    {% for address in addresses %}
                        <li class="well">
                            <div class="col-sm-2-offset-10 ">
                                <form action="{% url 'checkout:user-address-delete' pk=address.id %}" method="post" id="delete_address_{{ object.id }}">
                                    {% csrf_token %}
                                    <button type="submit" class="edit-remove-elem pull-right glyphicon glyphicon-remove btn-link"></button>
                                </form>
                            </div>

                            {% include 'checkout/self_user_info.html' with shipping_address=address%}

                            <form action="{% url 'checkout:shipping-address' %}" method="post" style="margin-top:10px" id="select_shipping_address_{{ address.id }}">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="ship_to" />
                                <input type="hidden" name="address_id" value="{{ address.id }}" />
                                <div class="row">
                                    <button type="submit" class="default-small-btn ship-address pull-right" data-loading-text="{% trans 'Saving...' %}">{% trans "Ship to this address" %}</button>
                                </div>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {%else%}
            <div class="col-sm-1"></div>
        {% endif %}


        {% block new_address_form %}
        <div class="col-sm-8">
            {% if user.is_authenticated and addresses%}
                <p>{% trans "Or a new address?" %}</p>
            {%endif%}
            <div class="well">
                <form action="{% url 'checkout:shipping-address' %}" method="post" id="new_shipping_address" class="form form-horizontal">
                    {% csrf_token %}
                    {% include "partials/form_fields.html" with form=form style='horizontal' %}
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-7">
                            <button type="submit" class="default-btn pull-right"  style='margin-left: 3px' data-loading-text="{% trans 'Continuing...' %}">{% trans "Continue" %}</button>
                            <a href="{% url 'basket:summary' %}" class="default-btn-danger pull-right">{% trans "Return to basket" %}</a>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endblock %}
    </div>
</div>
{% endblock shipping_address %}

{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% endblock content_wrapper %}


{% block extrascripts %}
    <script src="{% static 'js/new_post.js' %}"></script>
{% endblock %}

{% block scripts %}{{ block.super }}
    {{ form.media.css }}
    {{ form.media.js }}
{% endblock %}
