{% extends "checkout/checkout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {{ shop_name }} | Checkout | Thank you
{% endblock title %}

{% block content_wrapper %}

    {% block checkout_nav %}
        {% include 'checkout/checkout_nav.html' with step=3 %}
    {% endblock %}

<div class="container">
    <div class="page-header action">
        <p class="lead">
            {% blocktrans with number=order.number %}
            Your order has been placed and a confirmation email has been sent - your order number is
            <strong>{{ number }}</strong>.
            Thank you for your order, our manager will contact you shortly. The total price of your order is
            {% endblocktrans %}
            <strong>
            {% if not show_tax_separately and basket.is_tax_known %}
                    {{ order.total_incl_tax}} {{order.currency}}
                {% else %}
                    {{ order.total_excl_tax }} {{order.currency}}
                {% endif %}
            </strong>
        </p>
    </div>


    <div class="row shipping-payment">
    {% block shipping_address %}
        {% include 'checkout/shipping_info_content.html' with shipping_address=order.shipping_address thank_you=True%}
    {% endblock %}

    {% block order_contents %}
        <div class="col-sm-8">
        {% include 'checkout/order_contents.html' with  basket=order thank_you=True%}
        </div>
    {% endblock order_contents %}

    {% block order_actions %}
        <div class="form-group clearfix col-sm-12" style="margin-top:20px">
            <p><a href="{{ homepage_url }}" class="default-btn pull-right ">{% trans "Continue shopping" %}</a></p>
        </div>
    {% endblock order_actions %}
</div>
</div>
{% endblock %}

{% block tracking %}
    {% include "partials/google_analytics_transaction.html" %}
{% endblock %}
