{% load thumbnail %}

    <div class="top-grids">
        <div class="container">
            <div class="product-grids">
                <div id="owl-demo" class="owl-carousel text-center">
                   {% for product in product_list %}
                    <div onclick="location.href='details.html';" class="item">
                        <div class="product-grid">
                            <div class="product-pic">
                                <a href="{{ product.get_absolute_url }}">
                                    {% with image=product.primary_image %}
                                    {% thumbnail image.original "150x150" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" title="name" />
                                    {% endthumbnail %}
                                    {% endwith %}
                                </a>
                            </div>
                            <div class="product-pic-info">
                                <p>{{ product.get_title|truncatewords:4 }}</p>
                            </div>
                        </div>
                    </div>
                   {% endfor %}
                </div>
			</div>
		</div>
    </div>
