{% load i18n %}
{% load static %}
{% load category_tags %}
{% load thumbnail %}
{% load display_tags %}


<div class="collections">
	<div class="collections-head">
		<div class="container">
			<div class="collections-head-left">
				{% thumbnail category.image "494x285" crop="center" as im %}
				<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" title="name" />
				{% endthumbnail %}
			</div>
			<div class="collections-head-right">
				<h2><span>{{category.name}}</span></h2>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- categories -->


		<div class="categories">
		<div class="container">
			<div class="categories-left">

				<ul>
					<li>
						<a href="{{ homepage_url }}">{% trans "Home" %}<span class="glyphicon glyphicon-chevron-right"></span></a>
					</li>

					{% for item in category.get_ancestors %}
					<li>
						<a href="{{ item.get_absolute_url }}">{{ item.name }}<span class="glyphicon glyphicon-chevron-right"></span></a>
					</li>
					{% endfor %}
					{%if detail%}
					<li>
						<a href="{{ category.get_absolute_url }}">{{ category.name }}<span class="glyphicon glyphicon-chevron-right"></span></a>
					</li>

					<li>
						<span class="last_item">{{ product.get_title }}</span>
					</li>
					{%else%}
					<li>
						<span class="last_item">{{ category.name }}</span>
				    </li>
					{%endif%}
				</ul>
			</div>
			    {%if not detail%}
				<div class="categories-right" style="color: #fff">
					<ul>
					{% if paginator.num_pages > 1 %}
						{%for item in page_list%}
						<li {%if item.direction%} class="{{item.direction}}"{%endif%}>
							{%if not item.title %}
								<span>...</span>
							{%elif not item.active%}
								<a><span>{{item.title}}</span></a>
							{%else%}
								<a href="{{item.url}}">{{item.title}}</a>
							{%endif%}
						</li>

					    {% endfor %}
					{% endif %}
					<!--{% blocktrans with page_num=page_obj.number total_pages=paginator.num_pages %}-->
					<!--<li>Page {{ page_num }} of {{ total_pages }}</li>-->
					<!--{% endblocktrans %}-->
					<!--<li class="view"><a href="/catalogue/">View All</a></li>-->
						<li class="options">
							<form method="GET" id="order_form" action="{{ category.get_absolute_url }}" >
								{{sorting_form}}
							</form>
						</li>
					<div class="clearfix"> </div>
					</ul>
				</div>
			{%endif%}
			<div class="clearfix"> </div>
		</div>
	</div>
</div>




