{% load thumbnail %}
{% load i18n %}



<div class="col-md-3">
    <div onclick="{{ product.get_absolute_url }}" class="iteam-grid text-center">

        {% with image=product.primary_image %}
        {% thumbnail image.original "150x150" crop="center" as im %}
        <a href="{{ product.get_absolute_url }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" title="name" /></a>
        {% endthumbnail %}
        {% endwith %}
        <span>{{ product.get_title|truncatewords:4 }}</span>
        <label>{% include "elements/stock_record.html" %}</label>
        <div class="button-group">
            <ul>

                <li>
                    {% if not product.is_parent %}
                        {% include "basket/add_to_basket_form_compact.html" %}
                    {% endif %}
                </li>


                <li>
                    <a class="more" href="{{ product.get_absolute_url }}">{% trans 'More' %}</a>
                </li>

                <div class="clearfix"> </div>
            </ul>
        </div>
    </div>
</div>