{% extends "layout.html" %}
{% load reviews_tags %}
{% load thumbnail %}
{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}
{% load static %}
{% load purchase_info_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load display_tags %}

{% block title %}
    {{ shop_name }} |
    {% for item in category.get_ancestors %}
        {{ item.name }} |
    {% endfor %}
    {{category.name}}
{% endblock title %}

{% block content_wrapper  %}
    {%block category_intro%}
        {% include "catalogue/catalogue_intro.html" %}
    {%endblock category_intro%}
    {%block messages%}
	<div class="container ">
        {% include "partials/alert_messages.html" %}
		</div>
    {%endblock messages%}
	<div class="iteam-grids">
	<div class="container no-padding">
		{% for product in products %}
			{% include "catalogue/category_and_search_content.html" %}
		{%endfor%}
	</div>
	</div>
{% endblock %}

{% block onbodyload %}{{ block.super }}
$('#id_order').on('change', function(){
	$( "#order_form" ).submit();

});
{% endblock %}
