{% extends "layout.html" %}
{% load reviews_tags %}
{% load thumbnail %}
{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}
{% load static %}
{% load purchase_info_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load display_tags %}




{% block styles %}
    {{block.super}}
    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/etalage.css' %}">
{% endblock %}

{% block title %}
    {{ shop_name }} |
    {% for item in product.get_categories.first.get_ancestors %}
        {{ item.name }} |
    {% endfor %}

    {{product.get_categories.first}} | {{ product.get_title }}
{% endblock title %}

{% block content_wrapper %}

{% include "catalogue/catalogue_intro.html" with detail=True category=product.get_categories.first%}
{%block messages%}
    <div class="container">
	{% include "partials/alert_messages.html" %}
	</div>
{%endblock messages%}
<div class="product-single-details">
    <div class="container">


    {% if product.images.all%}

	{% include "catalogue/etalage_detail_img.html" %}

    {%else%}
        <ul id="etalage" class="etalage" style="display: block; width: 314px; height: 552px;">
        <li class="" style="display: list-item; opacity: 1; background-image: none;">
            <img class="etalage_thumb_image" src="{% static 'images/photo_na.jpg'%}" style="display: inline; opacity: 1;width:300px;height:400px">
        </li>
        </ul>
    {%endif%}
		<div class="product-single-details-right">
			<div class="row">
				<h2>{{ product.get_title }}
					{%if product.upc%}
						<small class="pull-right">Product Code:{{ product.upc }}</small>
					{%endif%}
				</h2>
			</div>
			<!-- price-details -->
			<div class="price-details">
				<div class="price-details-left">
					<p>Price: {% include "elements/stock_record.html" %}</p>
				</div>
				<div class="price-details-right">
					{% include "basket/add_to_basket_form_compact.html" with detail=True%}
				</div>
				<div class="clearfix"> </div>
			</div>
			{% if product.description %}
			<div class="product-description">
				<h3>Description:</h3>
				<div class="des-tabs">
					<div class="tab1 tab">
						{{ product.description }}
					</div>
				</div>
			</div>
			{% endif %}
		</div>
    </div>
</div>
<div class="clearfix"> </div>

{% endblock content_wrapper %}

{% block extrascripts %}
    {{ block.super }}
    <script src="{% static 'js/jquery.etalage.min.js' %}"></script>
    <script>
	jQuery(document).ready(function($){

		$('#etalage').etalage({
			thumb_image_width: 300,
			thumb_image_height: 400,
			source_image_width: 900,
			source_image_height: 1000,
			show_hint: true,
			click_callback: function(image_anchor, instance_id){
				alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
			}
		});
		// This is for the dropdown list example:
		//$('.dropdownlist').change(function(){
		//    etalage_show( $(this).find('option:selected').attr('class') );
		//});
	});
    </script>
    <script>
        $(document).ready(function(){
            $(".tab2 p").hide();
            $(".tab3 p").hide();
            $(".tab2 h4").click(function(){
                $(".tab2 p").slideToggle(300);
                $(".tab1 p").hide();
                $(".tab3 p").hide();
            });
            $(".tab1 h4").click(function(){
                $(".tab1 p").slideToggle(300);
                $(".tab2 p").hide();
                $(".tab3 p").hide();
            });
            $(".tab3 h4").click(function(){
                $(".tab3 p").slideToggle(300);
                $(".tab2 p").hide();
                $(".tab1 p").hide();
            });
        });
    </script>
{% endblock %}
