{% load thumbnail %}
<div class="product-single-details-left">
	<div class="details-left">
		<div class="details-left-slider">
			<ul id="etalage" class="etalage" style="display: block; width: 314px; height: 552px;">

				{% for image in product.images.all%}

				<li class="" style="display: list-item; opacity: 1; background-image: none;">
					{% thumbnail image.original "300x400" crop="center" as im %}
					<img class="etalage_source_image" src="{{im.url}}">
					<img class="etalage_thumb_image" src="{{im.url}}"  width="{{ im.width }}" height="{{ im.height }}" style="display: inline; opacity: 1;">
					{% endthumbnail %}
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>
</div>