{% extends "layout.html" %}

{% load i18n %}

{% block title %}
    {{ shop_name }} | Profile
{% endblock title %}

{% block content_wrapper %}
<div class="container account_page" >
    <div class="col-sm-2 ">
        <ul class="nav nav-pills nav-stacked">
            {% block standard_tabs %}
                <li{% if active_tab == 'profile' %} class="active"{% endif %}>
                    <a href="{% url 'customer:profile-view' %}">{% trans "Profile" %}</a>
                </li>
                <li{% if active_tab == 'orders' %} class="active"{% endif %}>
                    <a href="{% url 'customer:order-list' %}">{% trans "Order History" %}</a>
                </li>
                <li{% if active_tab == 'addresses' %} class="active"{% endif %}>
                    <a href="{% url 'customer:address-list' %}">{% trans "Address Book" %}</a>
                </li>
                <li{% if active_tab == 'emails' %} class="active"{% endif %}>
                    <a href="{% url 'customer:email-list' %}">{% trans "Email History" %}</a>
                </li>
            {% endblock %}
        </ul>
    </div>
    <div class="col-sm-10">
        {% block tabcontent %}{% endblock tabcontent %}
    </div>
</div>
{% endblock content_wrapper %}

{% block onbodyload %}{{ block.super }}
function func() {
    if($('#id_shipping_method').val() == 'new_post') {
        $('#id_new_post_address, #id_new_post_city, #id_new_post_department').parent().parent().show();
    } else {
        $('#id_new_post_address, #id_new_post_city, #id_new_post_department').parent().parent().hide();
    }
};

function dep_clear(){
    $($('.select2-hidden-accessible')[1]).val(null).trigger('change')
}

function dep_hide(){
    if($($('.select2-hidden-accessible')[0]).val() == null){
        $($('.select2-container')[1]).addClass('non-pointer');
        dep_clear();
    } else {
        $($('.select2-container')[1]).removeClass('non-pointer');
    }
};

func()
$('#id_shipping_method').on('change', func);

$('#id_new_post_city').on('select2:select', dep_clear)

dep_hide()
$('#id_new_post_city').on('change',dep_hide);

{% endblock %}
