{% extends "layout.html" %}
{% load i18n %}

{% block title %}Page Not Found :( {% endblock %}

{% block content_wrapper %}
    <div style='background-color: #fff' class="col-sm-offset-3 jumbotron">
        <h1>{% trans 'Not found' %} <span>:(</span></h1>
        <p>{% trans 'Sorry, but the page you were trying to view does not exist.' %}</p>
    </div>

{% endblock %}

