{% extends "layout.html" %}

{% load i18n %}

{% block title %} Server Error :( {% endblock %}

{% block content_wrapper %}
    <div style='background-color: #fff' class="col-sm-offset-3 jumbotron">
        <h1>{% trans 'Server Error' %}  <span>:(</span></h1>
        <p>{% trans 'Something has gone horribly wrong.' %}</p>
        <p>{% trans "We've notified our admins and they won't rest until it is fixed." %}</p>
    </div>

{% endblock %}
