{% load i18n %}
{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js"> <!--<![endif]-->
    <head>
        <title>{% if display_version %}[{% trans "Build" %} {{ version }}] {% endif %}{% block title %}{{ shop_name }} - {{ shop_tagline }}{% endblock %}</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="created" content="{% now "jS M Y h:i" %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="viewport" content="{% block viewport %}width=device-width{% endblock %}" />
        <meta name="robots" content="NOARCHIVE,NOCACHE" />
   		 <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>

        <![endif]-->

        {% block favicon %}
        <link rel="shortcut icon" href="{% static 'oscar/favicon.ico' %}" />
        {% endblock %}
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,800,400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

        {# Block where global CSS will go. #}
        {% block styles %}
            <link href="{% static 'lib/bootstrap-3.3.6/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
            <link href='{% static "css/style.css"%}' rel='stylesheet' type='text/css' />
        {% endblock %}

        {# Additional CSS - specific to certain pages #}
        {% block extrastyles %}{% endblock %}

        {% block extrahead %}{% endblock %}

        {% block tracking %}
            {# Default to using Google analytics #}
            {% include "partials/google_analytics.html" %}
        {% endblock %}
    </head>

    <body id="{% block body_id %}default{% endblock %}" class="{% block body_class %}default{% endblock %}">

        {# Main content goes in this 'layout' block #}
        {% block layout %}{% endblock %}

        {# Local scripts #}
        {% block scripts %}
            <script src='{% static "js/jquery.min.js" %}'></script>
            <script src="{% static 'js/responsiveslides.min.js' %}"></script>
            <script src='{% static "lib/bootstrap-3.3.6/js/bootstrap.min.js" %}'></script>
            <script src='{% static "js/index.js" %}'></script>
            <script src="{% static 'js/ui.js' %}"></script>
            <script src="{% static 'js/callback.js' %}"></script>
            <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        {% endblock %}

        {# Additional JS scripts #}
        {% block extrascripts %}{% endblock %}
        {# Block for body onload functions #}
        <script type="text/javascript">

                $(function() {

                {% block onbodyload %}

                {% endblock %}
            });
        </script>

        {# Page meta-data - this is populated by the 'metadata' template context processor #}
        <!-- {% trans "Version:" %} {{ version }} -->

    </body>
</html>
