{% extends 'layout.html' %}
{% load i18n %}



{% block content_wrapper %}
<div class="container">
<div class="page-header">{% trans "Email sent" %}</div>
    <p>
    {% blocktrans %}
        We've e-mailed you instructions for resetting your password. You should be receiving it shortly.
    {% endblocktrans %}
    </p>
    <p style="margin-bottom:40px">
    {% blocktrans %}
        If you don't receive an email, please make sure you've entered the address you registered with, and check
        your spam folder.
    {% endblocktrans %}
    </p>

</div>
{% endblock %}
