{% extends 'layout.html' %}
{% load i18n %}




{% block content_wrapper %}
<div class="container">
    <div class="page-header">{% trans "Enter a new password" %}</div>
    {% if validlink %}
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <form id="password_reset_form" action="" method="post">
            {% csrf_token %}
            {% include 'partials/form_fields.html' %}
            <div class="form-group form-actions">
                <button class="default-btn" type="submit" data-loading-text="{% trans 'Changing...' %}">{% trans 'Change my password' %}</button>
            </div>
        </form>
    {% else %}
        <h1>{% trans 'Password reset unsuccessful' %}</h1>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}
</div>
{% endblock %}
