{% extends 'layout.html' %}
{% load i18n %}



{% block content_wrapper %}
<div class="container">
<div class="page-header">{% trans "Password reset" %}</div>

    <form id="password_reset_form" action="." method="post">
        {% csrf_token %}
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
        <div class=" col-sm-4">
        {% include 'partials/form_fields.html' with style='stacked' %}
        </div>
        <div class="form-group form-actions col-sm-12">
            <button type="submit" class="default-btn" data-loading-text="{% trans 'Sending...' %}">{% trans 'Send reset email' %}</button>
        </div>
    </form>
</div>
{% endblock %}
