{% extends 'layout.html' %}
{% load i18n %}





{% block content_wrapper %}
<div class="container">
    <div class="page-header">{% trans "Password reset complete" %}</div>
    <p style="margin-bottom:20px">{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
    <a href="{{ login_url }}" class="default-btn">{% trans 'Log in' %}</a>
</div>
{% endblock %}
