{% load i18n %}
<div class="col-sm-8">
    <form {% if form_id %}id="{{ form_id }}"{% endif %} class="form-{{ style|default:"stacked" }} {{ class }}" method="{{ method|default:"post" }}"
        {% if action %}action="{{ action }}"{% endif %}
        {% if includes_files %}enctype="multipart/form-data"{% endif %}>

        {% if not method == "get" %}{% csrf_token %}{% endif %}
        {% include 'partials/form_fields.html' %}
        <div class="form-group">
            <div class="{% if style == 'horizontal' %}col-sm-offset-4 col-sm-8{% endif %}">
                <button class="default-small-btn" type="submit" data-loading-text="{% trans 'Saving...' %}">{% trans "Save" %}</button>
                <a href="#" class="default-small-btn-danger" onclick="window.history.go(-1);return false" >{% trans "Cancel" %}</a>.
            </div>
        </div>
    </form>
</div>