{% extends "customer/baseaccountpage.html" %}
{% load currency_filters %}
{% load display_tags %}
{% load i18n %}
{% load reviews_tags %}

{% block extra_breadcrumbs %}
    <li>
        <a href="{% url 'customer:order-list' %}">{% trans 'Order history' %}</a>
    </li>
{% endblock %}

{% block tabcontent %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>{% trans 'Product' %}</th>
                <th>{% trans 'Qty' %}</th>
                <th>{% trans 'Price' %}</th>
                <th>{% trans 'Total' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for line in order.lines.all %}
                {% with product=line.product %}
                    <tr>
                        <td>
                            {% if product %}
                                <p>
                                    <a href="{{ product.get_absolute_url }}">{{ line.description }}</a>
                                </p>
                            {% else %}
                                <p>
                                    {{ line.description }}
                                </p>
                            {% endif %}
                        </td>
                        <td>{{ line.quantity }}</td>
                        <td>{{ line.unit_price_incl_tax|currency:order.currency }}</td>
                        <td>{{ line.line_price_incl_tax|currency:order.currency  }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}


            {% block order_total %}
                <tr>
                    <th colspan="3">{% trans 'Order total' %}</th>
                    <td colspan="2"><strong>{{ order.total_incl_tax|currency:order.currency }}</strong></td>
                </tr>
            {% endblock order_total %}
        </tbody>
    </table>
{% include 'checkout/self_user_info.html' with shipping_address=order.shipping_address%}

{% endblock tabcontent %}
