{% extends "layout.html" %}

{% load currency_filters %}
{% load thumbnail %}
{% load product_tags %}
{% load i18n %}
{% load static %}

{% block title %}
    {{ shop_name }} | Search
{% endblock title %}

{% block content_wrapper %}
<div class="collections-head">
    <div class="container results-head">

    <form method="get" action="." class="form-horizontal">
        {# Render other search params in a hidden block #}
        <div style="display:none">
            {% for value in selected_facets %}
                <input name="selected_facets" value="{{ value }}" />
            {% endfor %}
            {{ search_form.q }}
        </div>
        {% if paginator.count %}
            {% if paginator.num_pages > 1 %}
                {% blocktrans with start=page.start_index end=page.end_index num_results=paginator.count q=query %}
                    <h2><span>Found <strong>{{ num_results }}</strong> results for products matching "{{ q }}", showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.</span></h2>
                {% endblocktrans %}
            {% else %}
                {% blocktrans with q=query count num_results=paginator.count %}
                    <h2><span>Found <strong>{{ num_results }}</strong> result <br> for products matching "{{ q }}".</span></h2>
                {% plural %}
                    <h2><span>Found <strong>{{ num_results }}</strong> results <br> for products matching "{{ q }}".</span></h2>
                {% endblocktrans %}
            {% endif %}

        {% else %}
                <h2><span>{% trans "Nothing found" %}</span></h2>
        {% endif %}
    </form>

    </div>

</div>
<div class="result-bar"></div>
{% if page.object_list %}
    <div class="iteam-grids">
        <div class="container no-padding">
                {% for result in page.object_list %}

                <!--{% render_product  result.object %} -->

               {% include "catalogue/category_and_search_content.html" %}

                {% endfor %}
        </div>
    </div>
{% endif %}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
