{% extends "customer/baseaccountpage.html" %}


{% load i18n %}


{% block tabcontent %}
<form method="post">
    {% csrf_token %}
    <p>{% trans 'Are you sure you want to delete this address?' %}</p>

    <p><strong>{{ object.summary }}</strong></p>

    <div class="form-group form-actions">
        <button type="submit" class="btn btn-danger btn-lg" data-loading-text="{% trans 'Deleting...' %}">{% trans 'Delete' %}</button>
    </div>
</form>
{% endblock tabcontent %}

