{% extends "customer/baseaccountpage.html" %}
{% load i18n %}

{% block tabcontent %}

    {% if addresses %}

    <div class="page-header"><h3>{% trans 'Address book' %}</h3></div>
    <div class="page-header">
        <div class="row">
            <p class="col-sm-5"><strong>{% trans "Contact information" %}</strong></p>
            <p class="col-sm-5"><strong>{% trans "Shipping method" %}</strong></p>
        </div>
    </div>
    {% for address in addresses %}
    <div class="page-header">
        <form action="{% url 'customer:address-delete' pk=address.id %}" class=" pull-right" method="post" id="delete_address_{{ object.id }}">
                {% csrf_token %}
                <button type="submit" class="glyphicon glyphicon-remove edit-remove-elem btn-link"></button>
            </form>
        <div class="row">

            <ul class="col-sm-5 list-unstyled">
                <li><p>{{address.first_name}} {{address.last_name}}</p></li>
                {% if address.phone_number %}
                <li><p>{{address.phone_number}}</p></li>
                {% endif %}
            </ul>
            <ul class="col-sm-6 list-unstyled">
                <li><p>{{ address.get_shipping_method_display }}</p></li>
                {% if address.shipping_method == 'new_post' %}
                <li><p>{%trans 'City'%}: {{address.new_post_department.city.name}}</p></li>
                <li><p>{{address.new_post_department.description}}</p></li>
                {% endif %}
            </ul>

        </div>
    </div>
    {% endfor %}
        {% include "partials/pagination.html" %}
    {% else %}
        <h2 class="noaddress">{% trans 'There are no addresses in your address book.' %}</h2>
    {% endif %}
    <p>
        <a href="{% url 'customer:address-create' %}" class="default-small-btn">{% trans 'Add a new address' %}</a>
    </p>
{% endblock tabcontent %}

