{% extends "customer/baseaccountpage.html" %}


{% load i18n %}

{% block tabcontent %}
<div class="well">
    <form action="{% url 'customer:address-create' %}" method="post" id="new_shipping_address" class="form form-horizontal">
        {% csrf_token %}
        {% include "partials/form_fields.html" with form=form style='horizontal' %}
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="default-btn" >{% trans "Add address" %}</button>
                <a href="{% url 'customer:address-list' %}" class="default-btn-danger">{% trans "Return" %}</a>

            </div>
        </div>
    </form>
</div>
{% endblock tabcontent %}

