{% extends 'dashboard/layout.html' %}
{% load django_tables2 %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load static %}

{% block styles %}{{ block.super }}
    {#    <style>#}
    {#        #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }#}
    {#        #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }#}
    {#        #sortable li span { position: absolute; margin-left: -1.3em; }#}
    {#    </style>#}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Homepage images" %}</li>
    </ul>
{% endblock %}

{% block content %}
    {% block dashboard_content %}
        <div style="margin-bottom:10px">
            <a href="{% url 'home_images_create' %}"
               class="btn btn-success">{% trans 'Add image' %}</a>
            <button id="save_image_order" data-action='{% url 'home_images_list' %}'
                    class="btn btn-primary">{% trans 'Save order' %}</button>

        </div>

        <form id="homepageimages_form" method="post" action=".">
            {% csrf_token %}
            {% render_table images %}
        </form>
    {% endblock dashboard_content %}
{% endblock content %}

{% block extrascripts %}
    {{ block.super }}
    <script src='{% static "js/sorting_home_images.js" %}'></script>
    <script src='{% static "js/jquery-ui.min.js" %}'></script>
{% endblock extrascripts %}
