{% extends "dashboard/layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'home_images_list' %}">{% trans "Hompage images" %}</a>
        </li>
        <li class="active">{% trans "Add" %}</li>
    </ul>
{% endblock %}

{% block content %}
    {% block dashboard_content %}

    <form action="" class="form form-horizontal" enctype="multipart/form-data" method="post">{% csrf_token %}
        <div class="modal-body col-sm-12">
        {% for field in form %}
            <div class="form-group {{field.label}}">
                <label class="col-sm-1 control-label">{{ field.label }}</label>
                <div class="col-sm-11">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-default">Submit</button>
        </div>
        {% csrf_token %}
    </form>
    {% endblock dashboard_content %}
{% endblock content %}